$hsl-beige:   hsl(72, 16%, 94%);
$hsl-black:   hsl(0, 0%, 0%);
$hsl-gray:    hsl(0, 0%, 36%);
$hsl-salmon:  hsl(0, 73%, 53%);

$color-bg-main:   $hsl-beige;
$color-text-main: $hsl-black;
$color-secondary: $hsl-salmon;


