$size-mobile-s: 360px;
$size-tablet-s: 540px;    // Surface Duo
$size-tablet-m: 770px;    // iPad
$size-tablet-l: 1024px;   // iPad Pro
$size-desktop-s: 1280px;
$size-desktop-m: 1600px;
$size-desktop-l: 1920px;

$container-m: 900px;
$container-l: 1400px;
$container-xl: 2000px;